<template>
    <div>
        <div>
            <div v-if="errors.length">
                <div class="alert alert-danger" v-for="(e, index) in errors">
                    <p>{{ e }}</p>
                    <a v-on:click="dismissNotice(index)">Dismiss</a>
                </div>
            </div>
        </div>
        <h1>Tracklist Viewer</h1>
        <h3 v-if="this.Tracklist.id">{{ Tracklist.name }} - {{ Tracklist.composer }}</h3>
        <h3 v-else><span class="glyphicon glyphicon-refresh"></span></h3>

        <p>Showing all saved and listed tracks</p>

        <router-link to="/tracklist">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Return to list...
        </router-link>

        <table class="table">
            <thead>
                <tr>
                    <th>Name <button v-on:click="sortList('name', 'ASC')">Sort List...</button></th>
                    <th>Description <button v-on:click="sortList('description', 'ASC')">Sort List...</button></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody v-if="Tracklist.tracks.length">
                <tr v-if="!item.edit" v-for="(item, index) in Tracklist.tracks">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td></td>
                    <td>
                        <a v-on:click="editTrack(index)">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit Track...
                        </a>
                    </td>
                </tr>
                <tr v-else>
                    <td>
                        <input v-model="item.name" class="form-control"/>
                    </td>
                    <td>
                        <input v-model="item.description" class="form-control"/>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-floppy-disk" v-on:click="updateTrack(index, item.id)"></a>
                        <a class="glyphicon glyphicon-trash text-danger" v-on:click="deleteTrack(index, item.id)"></a>
                    </td>
                    <td>
                        <a v-on:click="editTrack(index)">
                            <span class="glyphicon glyphicon-remove"></span>
                            Cancel Edit...
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="4">
                        <p>No Tracks available.</p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <input v-model="createItem.name" class="form-control" placeholder="Track Name"/>
                    </td>
                    <td>
                        <input v-model="createItem.description" class="form-control" placeholder="Track Description"/>
                    </td>
                    <td></td>
                    <td>
                        <a v-on:click="createTrack()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add List
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script src="./tracklistEditor.ts"></script>
